.body {
  background-color: #ffff;
  font-family: 'Assistant', sans-serif;
}

.navbar {
  background-color: #124C9A;
  min-height: 60px;
}

.navbar-brand img {
  min-height: 60px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #D5D5D5;
  font-family: 'Montserrat', 'serif';
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
}

.navbar-light .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  color: #ffff !important;
}

.btn-general {
  font-family: 'Montserrat', 'serif';
  background-color: #F8C22D;
  color: #ffff;
  font-size: 16px;
}

.btn-general:hover {
  background-color: #FCCF52;
  color: #ffffff;
}

.modal p {
  color: #124C9A;
}

.carousel {
  margin-top: 80px;
}

.carousel .carousel-inner .carousel-item img {
  min-height: 400px;
  max-height: 400px;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.carousel .carousel-inner .carousel-item .carousel-caption p {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.rekap-umkm {
  background-color: #082752;
}

.rekap-umkm h1 {
  color: #ffffff;
}

.rekap-umkm .text-rekap-umkm {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.rekap-umkm .stats-detail h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.rekap-umkm .stats-detail p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.produk-kredit img {
  position: relative;
  width: 100%;
}

.produk-kredit .kredit-text {
  margin-top: 40px;
}

.produk-kredit .kredit-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.produk-kredit .kredit-text .subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #BFBFBF;
}

.produk-kredit .kredit-text .item {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.produk-kredit .kredit-text .btn-kredit {
  color: #ffffff;
  background-color: #124C9A;
  font-family: 'Montserrat', 'serif';
  font-size: 16px;
}

.list-umkm-kegiatan {
  margin-bottom: 100px;
  margin-top: 50px;
}

.list-umkm-kegiatan .list-umkm {
  margin-top: 20px;
}

.list-umkm-kegiatan .list-umkm .btn-lihat {
  font-family: 'Montserrat', 'serif';
  font-size: 16px;
  margin-top: 20px;
  background-color: #BFBFBF;
  color: white;
}

.list-umkm-kegiatan .list-umkm h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.list-umkm-kegiatan .list-umkm p {
  font-size: 18px;
  font-weight: 300;
  color: #BFBFBF;
}

.list-umkm-kegiatan .list-umkm .read-more {
  margin-top: -1px;
  font-size: 14px;
  font-weight: 300;
}

.list-umkm-kegiatan .list-umkm .list-umkm-item {
  margin-bottom: 10px;
}

.list-umkm-kegiatan .list-umkm .list-umkm-item h6 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F8C22D;
}

.list-umkm-kegiatan .list-umkm .list-umkm-item h5 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.list-umkm-kegiatan .list-umkm .list-umkm-item h5:hover {
  color: #124C9A;
}

.list-umkm-kegiatan .list-umkm .list-umkm-item p {
  font-size: 18px;
  color: #BFBFBF;
}

.list-umkm-kegiatan .list-kegiatan {
  margin-top: 20px;
}

.list-umkm-kegiatan .list-kegiatan .btn-lihat {
  font-family: 'Montserrat', 'serif';
  font-size: 16px;
  margin-top: 20px;
  background-color: #BFBFBF;
  color: white;
}

.list-umkm-kegiatan .list-kegiatan h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.list-umkm-kegiatan .list-kegiatan p {
  font-size: 18px;
  font-weight: 300;
  color: #BFBFBF;
}

.list-umkm-kegiatan .list-kegiatan .list-kegiatan-item {
  margin-bottom: 10px;
}

.list-umkm-kegiatan .list-kegiatan .list-kegiatan-item h6 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F8C22D;
}

.list-umkm-kegiatan .list-kegiatan .list-kegiatan-item h5 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.list-umkm-kegiatan .list-kegiatan .list-kegiatan-item h5:hover {
  color: #124C9A;
}

.list-umkm-kegiatan .list-kegiatan .list-kegiatan-item p {
  font-size: 18px;
  color: #BFBFBF;
}

.section-iklan p {
  font-size: 14px;
  color: #BFBFBF;
}

.section-iklan h3 {
  color: #124C9A;
}

.section-video {
  margin-top: -20px;
  margin-bottom: 30px;
}

.section-video p {
  color: #BFBFBF;
}

.section-testimoni {
  background-color: #082752;
  margin-bottom: -50px;
  margin-top: 100px;
  padding-top: 25px;
}

.section-testimoni h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.section-testimoni p {
  margin-top: -1px;
  font-size: 14px;
  color: #BFBFBF;
}

footer {
  background-color: #D9D9D9;
}

.section-content-header {
  margin-top: 80px;
  background-color: #082752;
  min-height: 310px;
}

.section-content-breadcrumb {
  margin-top: -290px;
}

.section-content-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-content-breadcrumb .breadcrumb .breadcrumb-item {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  color: white;
}

.section-content-breadcrumb .breadcrumb .breadcrumb-item.active {
  font-weight: bold;
  color: white;
}

.section-daftar-umkm {
  margin-top: 20px;
}

.section-daftar-umkm .card .card-body .header-title {
  margin-bottom: 30px;
}

.section-daftar-umkm .card .card-body .header-title .btn-cari {
  background-color: #F8C22D;
}

.section-daftar-umkm .card .card-body .header-title h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.section-daftar-umkm .card .card-body h5 {
  color: black;
}

.section-daftar-umkm .card .card-body p {
  font-size: 16px;
  font-weight: 300;
  color: #BFBFBF;
}

.section-daftar-umkm .card .card-body h6 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F8C22D;
}

.section-daftar-umkm .card .card-body .email {
  font-size: 20px;
}

.section-daftar-umkm .card .card-body li {
  margin-bottom: 10px;
}

.section-daftar-kegiatan {
  margin-top: 20px;
}

.section-daftar-kegiatan .card .card-body .header-title {
  margin-bottom: 30px;
}

.section-daftar-kegiatan .card .card-body .header-title .btn-cari {
  background-color: #F8C22D;
}

.section-daftar-kegiatan .card .card-body .header-title h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.section-daftar-kegiatan .card .card-body h5 {
  color: black;
}

.section-daftar-kegiatan .card .card-body p {
  font-size: 16px;
  font-weight: 300;
  color: #BFBFBF;
}

.section-daftar-kegiatan .card .card-body h6 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F8C22D;
}

.section-daftar-kegiatan .card .card-body .posted-time {
  font-size: 14px;
}

.section-daftar-kegiatan .card .card-body .description {
  margin-top: -5px;
}

.section-title-produk-kredit {
  margin-top: 20px;
}

.section-title-produk-kredit h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
  margin-bottom: -3px;
}

.section-title-produk-kredit p {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  color: #BFBFBF;
}

.section-konten-kredit {
  margin-top: 20px;
}

.section-konten-kredit .item-kredit {
  min-height: 200px;
  margin-bottom: 20px;
}

.section-konten-kredit h6 {
  margin-top: 5px;
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: 500;
  color: #124C9A;
}

.section-detail-kegiatan {
  margin-top: 20px;
}

.section-detail-kegiatan .konten-kegiatan .card-body h2 {
  font-size: 20px;
  color: #124C9A;
}

.section-detail-kegiatan .konten-kegiatan .card-body .gallery .xzoom-container {
  display: block;
}

.section-detail-kegiatan .konten-kegiatan .card-body .gallery .xzoom-container .xzoom {
  width: 100%;
  height: 385px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-detail-kegiatan .konten-kegiatan .card-body .gallery .xzoom-container .xactive {
  border: 2px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-detail-kegiatan .konten-kegiatan .card-body .des-kegiatan h6 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F8C22D;
}

.section-detail-kegiatan .konten-kegiatan .card-body .des-kegiatan .posted-time {
  font-size: 14px;
  color: #BFBFBF;
}

.section-detail-kegiatan .konten-kegiatan .card-body p {
  text-align: justify;
  color: black;
  font-size: 15px;
}

.section-detail-kegiatan .konten-kegiatan-lainnya .card-body h5 {
  color: black;
}

.section-title-profile-umkm {
  margin-top: 20px;
}

.section-title-profile-umkm h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -3px;
}

.section-title-profile-umkm p {
  font-weight: 18px;
  color: #BFBFBF;
}

.section-profile-umkm {
  margin-top: 20px;
}

.section-profile-umkm hr {
  margin-top: -1px;
}

.section-profile-umkm .deskripsi .deskripsi-singkat .card-body h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.section-profile-umkm .deskripsi .deskripsi-singkat .card-body p {
  font-size: 14px;
  color: #BFBFBF;
  text-align: justify;
}

.section-profile-umkm .deskripsi .deskripsi-lengkap .card-body h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #BFBFBF;
}

.section-profile-umkm .deskripsi .deskripsi-lengkap .card-body table {
  font-size: 16px;
}

.section-umkm-lainnya {
  background-color: #082752;
  margin-bottom: -50px;
  margin-top: 100px;
  padding-top: 25px;
}

.section-umkm-lainnya h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.section-umkm-lainnya h5 {
  padding-top: 5px;
  color: #BFBFBF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.section-umkm-lainnya .btn-view-umkm {
  background-color: #F8C22D;
  color: white;
  border-radius: 100px;
}

.section-umkm-lainnya .btn-view-umkm:hover {
  background-color: #FCCF52;
}

.section-tentang-kami {
  margin-top: 20px;
}

.section-tentang-kami hr {
  margin-top: -1px;
}

.section-tentang-kami .card-body h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: -1px;
  color: #124C9A;
}

.section-tentang-kami .card-body p {
  font-size: 16px;
  color: black;
  text-align: justify;
}
/*# sourceMappingURL=main.css.map */